@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  scroll-behavior: smooth;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nav-hover-underline: 0, 0, 0;
  --i: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --nav-hover-underline: 255, 255, 255;
  }
}

body:not(.nav-link){
  color: rgb(var(--foreground-rgb));

}
body::-webkit-scrollbar{
  display: none;

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#image-top{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/sky.png");
  background-position: bottom;
  overflow: hidden;
}
#stack{
  margin-top: 5vw;
}

.nav-link {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  color: white;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: white;
  left: 50%;
  bottom: 0;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

#sun{
  filter: blur(20px) brightness(1.25);
  position: absolute;
  right: -10vh;
  height: auto;
  width: 30vh;
  top: 10vh;
}
#clouds{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

#clouds img:not(#Hello){
  position: absolute;
  bottom: 0;
  animation: animate calc(var(--i) * 10s) linear infinite;
}

@keyframes animate {
  0%
  {
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);

  }
  
}


#Hello {
  position: absolute;
  bottom: 0;
  animation: fadeInScaleUp 10s ease-in forwards;
  opacity: 0;
}

@keyframes fadeInScaleUp {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@media (max-width: 768px) {
  #sun {
    width: 20vh;
    right: -5vh;
    top: 10vh;
  }
}


/* Loader background*/
body {
  margin:0;
}
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(#038cbd, #1589b2, #278fb2, #72b7d0, #ffffff);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: reverse;
  z-index:1000;
  display: flex;
  transition: opacity 1s ease-out;
  opacity: 1;
}
#loader > h1{
  font-size: 4vw;
  margin-bottom: 20vh;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-family: "Varela Round", sans-serif;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
@keyframes gradient {
  0% {background-position: -100%}
  100% {background-position: 100%}
}

#Name{
  font-weight: 900;
  font-style: normal;
  color: white;
  font-family: "Varela Round";
}

.box-container{
  visibility: hidden;
}

/*Box for Box.js*/
@media (min-width:800px){
  .box-container{
    visibility: visible;

  }
  .box {
    width: 15vw;
    height: 12vw;
    position: relative;
    transform-style: preserve-3d;

    transform: rotateX(-20deg) rotateY(100deg) rotateX(-2deg) rotateZ(4deg);
  }


  .box__face {
    position: absolute;
    width: 40vw;
    height: 40%;
    background: linear-gradient(#1B2845, #FFFFFF);
    transform: translateZ(5vw) rotateX(0deg);
  }

  .box__face--top {
    height: 10vw;
    background: linear-gradient(#1B2845, #FFFFFF);
    transform: translateY(-5vw) rotateX(90deg) rotateZ(90deg);
    transition: 0.3s;
  }

  .box__face--left {
    background: linear-gradient(#DEE4EA, #FFFFFF);
    transform: translateX(-5vw) rotateY(-90deg);

  }

  .box__face--front {
    background: linear-gradient(#eef3f8, #e6ebef,#F9FCFF);
    transform: translateX(5vw) rotateY(90deg);


  }

  .box__face--right {
    background: linear-gradient(#DEE4EA, #F9FCFF);
    transform: translateX(15vw) translateZ(-20vw) rotateY(180deg);
    width: 10vw;
  }
  .box__face--back {
    border-left: solid black;

    background: linear-gradient(#DEE4EA, #F9FCFF);
    transform: translateX(15vw) translateZ(20vw) rotateY(180deg);
    width: 10vw;
  }

  .box__face--right > img {
    display: inline;
  }

  .box__face--top.lid {
    background: #6c6b69;
    opacity: 0.7;
    transition: 0.3s;
  }


  .circle {
    width: 6vw;
    height: 6vw;
    border: solid black;
    border-radius: 50%;
    position: absolute;
    scale: 10%;
    opacity: 0;
    transition: opacity 1s ease-in-out, scale 2s ease-in-out;
    padding: 1vw;
    margin-bottom: 15vw;
    background-color: floralwhite;
    box-shadow: -7px 6px 5px #696969;
    --translate-x: 0;
    --translate-y: 0;
    transform: translate(var(--translate-x), var(--translate-y)) rotateX(0deg);
    animation: levitate 2s infinite;
    transform-style: preserve-3d;

  }
  }

  .circle.fade-out {
    opacity: 1;
    scale: 100%;
  }


  .circle:nth-child(1) { --translate-x: -250%; --translate-y: -100%; }
  .circle:nth-child(2) { --translate-x: -100%; --translate-y: -100%; }
  .circle:nth-child(3) { --translate-x: 50%; --translate-y: -100%; }
  .circle:nth-child(4) { --translate-x: 200%; --translate-y: -100%; }
  .circle:nth-child(5) { --translate-x: -250%; --translate-y: -250%; }
  .circle:nth-child(6) { --translate-x: -100%; --translate-y: -250%; }
  .circle:nth-child(7) { --translate-x: 50%; --translate-y: -250%; }
  .circle:nth-child(8) { --translate-x: 200%; --translate-y: -250%; }



@keyframes levitate {

  0% {
    transform: translate(var(--translate-x), var(--translate-y)) rotateY(0deg);
    box-shadow: -7px 6px 5px #696969;
  }
  50% {
    transform: translate(var(--translate-x), calc(var(--translate-y) + 10%)) rotateY(20deg);
    box-shadow: -7px 6px 5px #e1e1e1;
  }
  100% {
    transform: translate(var(--translate-x), var(--translate-y)) rotateY(0deg);
    box-shadow: -7px 6px 5px #696969;
  }
}
  .stack-cool{
    text-align: center;
  }




 .stack-cool {
   font-size: 4rem;
   font-weight: 900;
   color: black;
   letter-spacing: 0.2em;
   position: relative;
   display: inline-block;
   transform: perspective(500px) rotateX(15deg);
   overflow: visible;
 }




.footer {
  width: 100%;
  position: relative;
  height: 200px;
}

.grass {
  background-color: green;
  height: 30%;
  width: 100%;
  border-radius: 50% 50% 0 0;
  position: absolute;
  top: 0;
}

.soil {
  background-color: #8B4513;
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: radial-gradient(circle, #6B3D1F 10%, #8B4513 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.rocks {
  display: flex;
  gap: 10px;
}


.hidden_raw{
  opacity: 0;
  transition: all 2s;
}

.show{
  opacity: 1;
}

#blob{
  background-color: #dbe0e0;
  filter: blur(100vw);
  height: 23vw;
  border: solid black;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;

}

.cloud {
  animation: move 6s ease infinite;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  background: #eaeaea;
  height: 120px;
  width: 120px;
  box-shadow:
          #dcdcdc 130px -30px 0 -10px,
          #e7e7e7 50px -50px,
          #eaeaea 60px 20px,
          #eaeaea 120px 30px 0 -20px,
          #ececec 170px 10px 0 -10px;
}

@keyframes move {
  50% {
    transform: translateY(-20px);
  }
}
@media (max-width: 1100px) {
  .circle{
    margin-top: -20vw;
  }
  .circle.fade-out {
    opacity: 1;
    scale: 140%;

  }
  .circle > img{
    visibility: hidden;
  }
  .cloud {
    left: 50%;
    transform: translate(-60%, -50%);
  }
}

